<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        .code-editor {
            color: #ccc;
            background: #2d2d2d;
            font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
        }
        .prism-editor__textarea:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-card class="mx-auto">
                                <v-card-title>Settings</v-card-title>

                                <v-card-text>
                                    <v-text-field label="Base URL: E.g. http://127.0.0.1:8080"
                                                  v-model="baseUrl"
                                                  :rules="urlRules"
                                                  hide-details="auto"></v-text-field>
                                </v-card-text>

                                <v-card-text>
                                    <v-text-field label="Ocp-Apim-Subscription-Key: (Option)"
                                                  v-model="subscriptionKey"
                                                  hide-details="auto"></v-text-field>
                                </v-card-text>

                                <v-card-text>
                                    <v-list>
                                        <v-list-item-content>
                                            <v-list-item-title>Swagger UI</v-list-item-title>
                                            <v-list-item-subtitle>
                                                <a color="deep-purple accent-4"
                                                   :href="swaggerUrl"
                                                   target="_blank"
                                                   v-text="swaggerUrl"></a>
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list>
                                </v-card-text>

                                <v-divider class="mx-4"></v-divider>

                                <v-card-title>Health Check</v-card-title>

                                <v-card-text>
                                    <v-list>
                                        <v-list-item-content>
                                            <v-list-item-title>URL</v-list-item-title>
                                            <v-list-item-subtitle v-text="healthUrl"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Status</v-list-item-title>
                                            <v-list-item-subtitle v-text="healthStatusCode"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Headers</v-list-item-title>
                                            <prism-editor v-model="healthResponseHeaders"
                                                          :highlight="highlighter"
                                                          readonly
                                                          line-numbers></prism-editor>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Result</v-list-item-title>
                                            <prism-editor v-model="healthResult"
                                                          :highlight="highlighter"
                                                          readonly
                                                          line-numbers></prism-editor>
                                        </v-list-item-content>
                                    </v-list>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn tile
                                           class="ma-2"
                                           :loading="healthLoading"
                                           :disabled="healthLoading"
                                           color="info"
                                           @click="getStatus">
                                        Send
                                    </v-btn>
                                </v-card-actions>

                                <v-divider class="mx-4"></v-divider>

                                <v-card-title>File Upload</v-card-title>

                                <v-card-text>
                                    <v-list>
                                        <v-list-item-content>
                                            <v-file-input v-model="uploadFile"
                                                          placeholder="Upload your file"
                                                          label="File input"></v-file-input>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>URL</v-list-item-title>
                                            <v-list-item-subtitle v-text="uploadUrl"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Status</v-list-item-title>
                                            <v-list-item-subtitle v-text="uploadStatusCode"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Headers</v-list-item-title>
                                            <prism-editor v-model="uploadResponseHeaders"
                                                          :highlight="highlighter"
                                                          readonly
                                                          line-numbers></prism-editor>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-list-item-title>Result</v-list-item-title>
                                            <prism-editor v-model="uploadResult"
                                                          :highlight="highlighter"
                                                          readonly
                                                          line-numbers></prism-editor>
                                        </v-list-item-content>
                                    </v-list>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn tile
                                           class="ma-2"
                                           :loading="uploading"
                                           :disabled="uploading"
                                           color="info"
                                           @click="upload">
                                        Send
                                    </v-btn>
                                </v-card-actions>

                                <v-divider class="mx-4"></v-divider>

                                <v-card-title>File Download</v-card-title>

                                <v-card-text>
                                    <v-text-field label="Blob Name: E.g. 0200914_184403.dat"
                                                  v-model="blobName"
                                                  hide-details="auto"></v-text-field>
                                </v-card-text>
                                <v-card-text>
                                    <v-list-item-content>
                                        <v-list-item-title>URL</v-list-item-title>
                                        <v-list-item-subtitle v-text="downloadUrl"></v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-content>
                                        <v-list-item-title>Status</v-list-item-title>
                                        <v-list-item-subtitle v-text="downloadStatusCode"></v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-content>
                                        <v-list-item-title>Headers</v-list-item-title>
                                        <prism-editor v-model="downloadResponseHeaders"
                                                      :highlight="highlighter"
                                                      readonly
                                                      line-numbers></prism-editor>
                                    </v-list-item-content>
                                    <v-list-item-content>
                                        <v-list-item-title>Result</v-list-item-title>
                                        <prism-editor v-model="downloadResult"
                                                      :highlight="highlighter"
                                                      readonly
                                                      line-numbers></prism-editor>
                                    </v-list-item-content>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn tile
                                           class="ma-2"
                                           color="info"
                                           @click="download">
                                        Download
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-prism-editor"></script>
    <script src="https://unpkg.com/prismjs/prism.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                baseUrl: 'http://127.0.0.1:8080/api',
                healthResult: '',
                healthStatusCode: '',
                healthResponseHeaders: '',
                healthLoading: false,
                uploadResult: '',
                uploadStatusCode: '',
                uploadResponseHeaders: '',
                uploadFile: null,
                uploading: false,
                downloadResult: '',
                downloadStatusCode: '',
                downloadResponseHeaders: '',
                downloading: false,
                blobName: '',
                subscriptionKey: '',
                urlRules: [
                    value => !!value || 'Required.',
                    value => (value && (value.startsWith("http://") || value.startsWith("https://"))) || 'Invalid URL.'
                ]
            }),
            computed: {
                healthUrl: function () {
                    return this.baseUrl + '/actuator/health';
                },
                uploadUrl: function () {
                    return this.baseUrl + '/upload';
                },
                swaggerUrl: function () {
                    return this.baseUrl + '/swagger-ui.html';
                },
                downloadUrl: function () {
                    return this.baseUrl + '/download/' + this.blobName;
                }
            },
            methods: {
                getHeaders: function () {
                    let headers = {};
                    if (this.subscriptionKey) {
                        headers['Ocp-Apim-Subscription-Key'] = this.subscriptionKey;
                    }
                    return headers;
                },
                getStatus: function () {
                    this.healthLoading = true;
                    const headers = this.getHeaders();
                    axios.get(this.healthUrl, { headers: headers })
                        .then(response => {
                            this.healthStatusCode = response.status;
                            this.healthResponseHeaders = JSON.stringify(response.headers, null, 4);
                            this.healthResult = JSON.stringify(response.data, null, 4);
                            this.healthLoading = false;
                        })
                        .catch(err => {
                            this.healthResult = JSON.stringify(err, null, 4);
                            this.healthLoading = false;
                        });
                },
                upload: function () {
                    this.uploading = true;
                    const headers = this.getHeaders();
                    const data = new FormData();
                    data.append('file', this.uploadFile);
                    axios.post(this.uploadUrl, data, { headers: headers })
                        .then(response => {
                            this.uploadStatusCode = response.status;
                            this.uploadResponseHeaders = JSON.stringify(response.headers, null, 4);
                            this.uploadResult = JSON.stringify(response.data, null, 4);
                            this.blobName = response.data.blobName;
                            this.uploading = false;
                        })
                        .catch(err => {
                            this.uploadResult = JSON.stringify(err, null, 4);
                            this.uploading = false;
                        });
                },
                download: function () {
                    this.downloading = true;
                    const headers = this.getHeaders();
                    axios.get(this.downloadUrl, { headers: headers })
                         .then(response => {
                            this.downloadStatusCode = response.status;
                            this.downloadResponseHeaders = JSON.stringify(response.headers, null, 4);
                            const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                            const fileLink = document.createElement('a');
                            fileLink.href = fileUrl;
                            fileLink.setAttribute('download', this.blobName);
                            document.body.appendChild(fileLink);
                            this.downloading = false;
                            fileLink.click();
                         })
                         .catch(err => {
                            this.downloadResult = JSON.stringify(err, null, 4);
                            this.downloading = false;
                         });
                },
                swaggerUI: function () {
                    window.open(this.swaggerUrl, "_blank");
                },
                highlighter: function (code) {
                    return Prism.highlight(code, Prism.languages.js, 'js');
                }
            }
        })
    </script>
</body>
</html>